{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "plugins": ["unicorn", "prettier"],
  "rules": {
    "unicorn/no-abusive-eslint-disable": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "prettier/prettier": "error"
  }
}
